{
	"env": {
		"test": {
			"presets": [
				["env", { "targets": { "node": "current" } }]
			]
		}
	},
	"plugins": [
		"lodash",
		["transform-react-jsx", {
			"pragma": "dom.createElement"
		}]
	],
	"presets": [
		"env",
		"stage-3"
	]
}
