{
	"env": {
		"browser": true,
		"node": true,
		"mocha": true
	},
	"extends": [
		"standard"
	],
	"globals": {
		"expect": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"parser": "babel-eslint",
		"sourceType": "module"
	},
	"rules": {
		"arrow-parens": ["error", "as-needed"],
		"brace-style": ["error", "stroustrup"],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"max-len": ["warn", 140],
		"no-console": "off",
		"no-extra-semi": "error",
		"no-tabs": "off",
		"semi": ["error", "always"],
		"space-before-function-paren": ["error", "never"]
	}
}
