.wm-inspector-dialog {
	background: transparentize(#333, 0.05);
	box-shadow: 0 0 10px transparentize(#000, 0.5);
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
	min-width: 200px;
	z-index: 1;

	> .wm-inspector-dialog-header {
		padding: 5px;
		text-transform: uppercase;
		user-select: none;
	}

	> .wm-inspector-dialog-list {
		background: transparentize(black, 0.75);
		display: block;
		list-style: none;
		margin: 0;
		max-height: calc(100% - #{$height-header-inspector});
		padding: 0;
		position: relative;
		overflow: auto;

		> li {
			display: block;
			padding: 12px 10px;

			&.wm-inspector-dialog-list-header {
				font-weight: bold;
				opacity: 0.65;
				padding-bottom: 5px;
				text-transform: uppercase;
			}

			&.wm-inspector-dialog-list-item {
				cursor: pointer;

				&:active,
				&:hover {
					background: transparentize(black, 0.25);
				}
			}
		}
	}
}
