.wm-inspector-dialog-selector {
	background: transparentize(#333, 0.1);
	box-shadow: 0 0 10px transparentize(#000, 0.5);
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
	z-index: 1;

	&.-wm-showing {
		display: block;
	}

	> .wm-inspector-dialog-selector-header {
		padding: 5px;
		text-transform: uppercase;
		user-select: none;
	}

	> .wm-inspector-dialog-selector-list {
		list-style: none;
		margin: 0;
		max-height: 200px;
		padding: 0;
		overflow: auto;

		> li {
			background: transparentize(black, 0.75);
			cursor: pointer;
			padding: 12px 10px;

			&:active,
			&:hover {
				background: transparentize(black, 0.5);
			}
		}
	}
}
