.wm-inspector {
	background: transparentize(#222, 0.1);
	box-shadow: 0 0 10px transparentize(#000, 0.5);
	opacity: 0.675;
	position: fixed;
	transition: opacity ease 0.2s;
	width: 300px;
	z-index: $z-index-inspector;

	&:hover {
		opacity: 1;
	}

	.wm-inspector-hint {
		color: transparentize(#fff, 0.5);
		display: block;
		left: 50%;
		position: absolute;
		max-height: 95%;
		max-width: 95%;
		pointer-events: none;
		text-align: center;
		top: calc(50% + #{$height-header-inspector / 2});
		transform: translate(-50%, -50%);
		width: 100%;

		b {
			display: block;
			font-size: 1.5em;
			font-weight: normal;
			margin-bottom: 10px;
		}
	}

	.wm-inspector-inside {
		max-height: calc(100vh - #{$height-header-inspector});
		min-height: $height-list-inspector;
		overflow-x: hidden;
		overflow-y: auto;
	}

	@import 'inspector-header';
	@import 'inspector-dialog';
	@import 'property-list';
}
