.wm-inspector {
	background: transparentize(#222, 0.1);
	box-shadow: 0 0 10px transparentize(#000, 0.5);
	position: fixed;
	width: 300px;
	z-index: 999999999;

	.wm-inspector-inside {
		max-height: calc(100vh - 42px);
		overflow: auto;
	}

	@import 'inspector-header';
	@import 'inspector-dialog-selector';
	@import 'property-list';
}
