.wm-property-list {
	display: block;
	position: relative;

	> .wm-property-list-header {
		background: transparentize(black, 0.75);
		cursor: pointer;
		font-weight: bold;
		padding: 2px 5px;
		user-select: none;

		&:hover {
			background: transparentize(black, 0.5);
		}
	}

	> .wm-property-list-props {
		display: none;
		padding: 5px 15px;

		> .wm-property-field-header {
			font-weight: bold;
			opacity: 0.65;
			padding: 15px 0 5px;
			text-transform: uppercase;
		}

		> .wm-property-field {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			min-height: 30px;
			padding: 2px 0px;

			> .prop-name {
				position: relative;
				display: block;
				overflow: hidden;
				user-select: none;
				width: 40%;
				white-space: nowrap;
			}

			> .prop-value {
				display: flex;
				align-items: center;
				position: relative;
				width: 60%;

				input, select, textarea {
					display: block;
					width: 100%;

					& + input,
					& + select,
					& + textarea {
						margin-left: 5px;
					}
				}

				input {
					background: rgba(0, 0, 0, 0.25);
					border: none;
					color: inherit;

					&[type=text],
					&[type=date],
					&[type=number] {
						padding: 5px;
					}
				}
			}
		}
	}

	&.-wm-expanded {
		> .wm-property-list-props {
			display: block;
		}
	}
}
