$property-padding: 10px !default;
$property-field-padding: 2px 0px !default;

.wm-property-renderer {
	position: relative;
	display: block;
	background: #222222;
	padding: $property-padding;
	max-width: 300px;

	> .wm-property-field {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: $property-field-padding;

		> .prop-name {
			position: relative;
			display: block;
			overflow: hidden;
			width: 40%;
			white-space: nowrap;
		}

		> .prop-value {
			position: relative;
			display: block;
			flex-grow: 1;

			input, select, textarea {
				display: block;
				width: 100%;
			}
		}
	}
}
