.wm-baselines {
	z-index: $z-index-general;
	display: block;	
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	&.fixed {
		position: fixed;
		bottom: 0;
	}

	div {
		width: 100%;

		&.gap {
			visibility: hidden;
		}
	}
}
