.wm {
	font-family: 'Courier New', Courier, monospace;
	font-size: 12px;
	position: static;

	* {
		box-sizing: border-box;
	}

	input, select, textarea {
		display: block;
		font-family: inherit;
		font-size: inherit;
		margin: 0;
		padding: 0;
	}
}
