body {
	min-height: 100%;
}

.wm {
	@import 'config/vars';

	color: #fff;
	font-family: 'Courier New', Courier, monospace;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	position: static;

	* {
		box-sizing: border-box !important;
		font-family: 'Courier New', Courier, monospace;
	}

	@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

	.material-icons {
		display: block;
		font-size: 24px;
		line-height: 6px; // why? I don't know. but it looks best in chrome that way
		max-width: 32px;
	}

	.wm-icon {
		display: flex;
		align-items: center;

		> span {
			display: block;

			&.material-icons {
				padding-right: 5px;
			}

			&.-wmi-text {
				padding-top: 1px;
			}
		}
	}

	a {
		cursor: pointer;
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			cursor: pointer;
			text-decoration: none;
		}
	}

	input, select, textarea {
		display: block;
		font-family: inherit !important;
		font-size: inherit !important;
		margin: 0;
		padding: 0;
	}

	.-wm-flex {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		> [class^="-wmfl"] {
			display: block;

			&.-wmfl-option {
				color: transparentize(#fff, 0.5);
				padding: 10px 5px;
			}

			&.-wmfl-title {
				margin-right: auto;
				padding: 10px 5px;
				padding-left: 0;
				pointer-events: none;

				&:first-child {
					padding-left: 5px;
				}
			}

			&.-wmfl-label {
				color: transparentize(#fff, 0.5);
				padding: 10px 5px;
				pointer-events: none;
				text-transform: none;
			}
		}

		> .-wmfl-option {
			cursor: default;
		}

		> a[class^="-wmfl"] {
			cursor: pointer;

			&:hover {
				color: #fff;
			}
		}

		&:not(:hover) {
			.-wmfl-on-hover {
				visibility: hidden;
			}
		}
	}

	@import 'editor/inspector';
	@import 'elements/column-grid';
	@import 'elements/free-ruler';
	@import 'elements/baselines';

	.-wm-invisible {
		display: none !important;
		visibility: hidden !important;
	}
}
